.py-custom-4{
        padding-left: .25rem;
        padding-right: 4.5rem;
}
.title-font {
        color: indigo;
        
        letter-spacing: 0.05em;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
      }